<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gallery page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/gallery">Gallery</a>
    </nav>
    <section class="gallery">
      <h1>Gallery</h1>
      <img src="./images/wallp.png" alt="wallpaper" />
      <img src="./images/allmadhere.jpg" alt="wallpaper2" />
      <img src="./images/Caxorro-salsixa-1.png.png" alt="Pingo, the Dog" />
    </section>
  </body>
</html>
